{#- jinja2: lstrip_blocks: true, trim_blocks: true -#}
# {{ ansible_managed }}
# WordPress credentials for {{ wordpress_domain }}

wordpress_url: "{{ wordpress_ssl_enabled | ternary('https', 'http') }}://{{ wordpress_domain }}"
wordpress_admin_user: "{{ wordpress_admin_user }}"
wordpress_admin_password: "{{ wordpress_admin_password }}"
wordpress_admin_email: "{{ wordpress_admin_email }}"

wordpress_db_host: "{{ wordpress_db_host }}"
wordpress_db_name: "{{ wordpress_db_name }}"
wordpress_db_user: "{{ wordpress_db_user }}"
wordpress_db_password: "{{ wordpress_db_password }}"

wordpress_install_path: "{{ wordpress_site_dir }}"
wordpress_server: "{{ ansible_facts['default_ipv4']['address'] | default(inventory_hostname) }}"
